body{
    
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
nav{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #9cd9e7;
    color: white;
}
.middle-row{
    display: flex;
    gap: 50px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 50px;
}
.top-row{
    display: flex;
    gap: 10px;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 30px;
    width: 100%;
    height: 200px;
    gap: 50px;
}
.course-grid{
            display: grid;
            background-color: #c67ee4;
            border: 3px solid black;
            padding: 20px;
            gap: 20px;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2,250px);
           
}
.course-card{
    border: 2.5px solid black;
    padding: 10px;
    background-color: azure;
    border-radius: 7px;

}
.Browsemore-button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: larger;
}
.platform-grid{
    display: grid;
    background-color: rgb(240, 243, 241);
    border: 3px solid black;
    padding: 10px;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,100px);
}
.platform-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(145, 236, 142);
    border-radius: 5px;
}
.categories-grid{
    display: grid;
    border: 3px solid black;
    padding: 10px;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,250px);
}
.categories-cards{
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(218, 158, 79);
    border-radius: 7px;
}
.faq-sec{
    display: flex;
    justify-content: center;
    font-size:larger;
    width: 100%;
    border: 2px solid black;
    background-color:rgb(197, 226, 29);
    margin-bottom: 5px;
}
.q{
    background-color: #fff;
}
.four-elements{
    display: flex;
    gap: 300px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(138, 131, 131);
    color: #fff;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(138, 131, 131);
    color: #fff;
}



